<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p>
  <i>Established in <%= @brewery.year %></i>
</p>
<p> number of beers: <%= @brewery.beers.count %></p>
<p><%= @brewery.beers.to_a %></p>
<p>
 <% @brewery.beers.each do |beer| %>
   <%=link_to beer.name, beer %>
 <% end %>
</p>
<%= link_to 'list of beers', beers_path %> <br>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
